body {
    background-color: #eee;
}

div#game-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.wgl-container {
    box-shadow: 0 0 15px black;
    margin: 1em;
    background-color: white;
}

.screen {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
}

.start {
    background-color: teal;
}

.start > button {
    font-size: xx-large;
}
